Projects/4.STLC_Agent_n8n/Practice_Workflows/ReadPRDFromCSVHavingJiraId_TCs_inExcel.json
{
  "name": "ReadPRDFromJira_TCs_inExcel_v2",
  "nodes": [
    {
      "parameters": {
        "content": "##Objective\nRead requirement from JIRA PRD, create test cases in excel(jira format)",
        "height": 112,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        48
      ],
      "typeVersion": 1,
      "id": "5adf63d1-098c-4303-b102-fd9b208e5f52",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "# ROLE\nYou are JiraTestForge, a QA test-case generation agent. You turn a Jira ticket into structured, executable test cases and write them into the connected sheet.\n\n# WHEN TO ACT\nTrigger the full workflow only when the user's message expresses intent to create test cases (e.g. \"create test case\", \"generate test cases\", \"make TCs\"). For any other message, reply conversationally and do NOT call any tool.\n\n# WORKFLOW — follow in this exact order\n\n1. EXTRACT KEY\n   - Find the Jira issue key in the user's message. It matches the pattern [A-Z]+-[0-9]+ (e.g. VWO-1234, PROJ-87).\n   - If no key is present, ask the user for the ticket key and stop. Never invent a key.\n   - If multiple keys are present, process each one in turn.\n\n2. FETCH TICKET\n   - Call the \"Fetch PRD by Ticket ID\" tool with the extracted key.\n   - Read the summary, description, and acceptance criteria from the response.\n\n3. GENERATE TEST CASES (ground them ONLY in the fetched ticket)\n   - Do not assume requirements, fields, or flows that are not in the ticket.\n   - Cover: positive / happy path, negative / invalid input, boundary & edge conditions, and every acceptance criterion explicitly listed.\n   - Produce 5–10 test cases depending on ticket size. If the ticket lacks detail, generate only what the content supports and note the gap in your final reply.\n\n4. WRITE TO SHEET\n   - For EACH test case, make ONE call to the \"Append or update row in sheet\" tool.\n   - One row per test case. Never pack multiple test cases into a single field.\n\n# COLUMN SCHEMA (must match the sheet's header row)\n- Test Case ID : <KEY>-TC-01, <KEY>-TC-02, ... (sequential)\n- Jira Key     : the ticket key\n- Title        : what is being tested, in one line\n- Preconditions: state required before execution (or \"None\")\n- Test Steps   : numbered steps, one action per line\n- Test Data    : inputs used (or \"N/A\")\n- Expected Result : precise expected outcome\n- Type         : Positive | Negative | Edge | Boundary\n- Priority     : P1 | P2 | P3\n- Status       : Not Executed\n\n# RULES\n- Every test case must trace back to the ticket. No hallucinated features.\n- Steps must be atomic and concrete — a tester follows them without guessing.\n- After writing all rows, reply with a short summary: ticket key, count of test cases created, and a one-line list of their titles."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        528,
        96
      ],
      "id": "2f44d6d8-2e6d-4b3a-b484-3fe5e11cb7b6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        240,
        208
      ],
      "id": "dc0e30d0-e8a6-4875-b309-b152cc63e124",
      "name": "When chat message received",
      "webhookId": "eeae5155-10a1-4312-972a-ab928aacca25"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        464,
        320
      ],
      "id": "7ed399ae-c3fe-4410-a1e1-dd159119c5d9",
      "name": "Brain",
      "credentials": {
        "groqApi": {
          "id": "oqcm7gVLkXAkbujO",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "issueKey": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Issue_Key', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.jiraTool",
      "typeVersion": 1,
      "position": [
        592,
        320
      ],
      "id": "1d84fa1f-a445-4ba8-9a0b-f9aa6f884394",
      "name": "Fetch PRD by Ticket name",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "tKUpDbjc1ArpGSHf",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1HZ4U8aLBmNwP90RvbM67hvR4iZzZOdGG7TDHdTxfb5w",
          "mode": "list",
          "cachedResultName": "VWO PRD TestCases",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HZ4U8aLBmNwP90RvbM67hvR4iZzZOdGG7TDHdTxfb5w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HZ4U8aLBmNwP90RvbM67hvR4iZzZOdGG7TDHdTxfb5w/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Test Case ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Test_Case_ID__using_to_match_', ``, 'string') }}",
            "Summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}",
            "Description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
            "Actual Result": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Actual_Result', ``, 'string') }}",
            "Expected Result": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Expected_Result', ``, 'string') }}",
            "Test Steps": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Test_Steps', ``, 'string') }}",
            "Step Number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Step_Number', ``, 'string') }}",
            "Preconditions": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Preconditions', ``, 'string') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}",
            "Priority": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Priority', ``, 'string') }}",
            "Assignee": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Assignee', ``, 'string') }}",
            "Comments": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Comments', ``, 'string') }}"
          },
          "matchingColumns": [
            "Test Case ID"
          ],
          "schema": [
            {
              "id": "Test Case ID",
              "displayName": "Test Case ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Preconditions",
              "displayName": "Preconditions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Step Number",
              "displayName": "Step Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Test Steps",
              "displayName": "Test Steps",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Expected Result",
              "displayName": "Expected Result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Actual Result",
              "displayName": "Actual Result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comments",
              "displayName": "Comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        720,
        320
      ],
      "id": "079ed207-6b39-44f1-8a60-c53ec9d0c73c",
      "name": "Append or update row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "K9JS5jLZlDPtL2wx",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create test cases for {{ $json.jira_id }}",
        "options": {
          "systemMessage": "# ROLE\nYou are JiraTestForge, a QA test-case generation agent. You turn a Jira ticket into structured, executable test cases and write them into the connected sheet.\n\n# WORKFLOW — follow in this exact order\n\n1. EXTRACT KEY\n   - The Jira issue key is provided in the input.\n   - Use this key directly. Never invent a key.\n\n2. FETCH TICKET\n   - Call the \"Fetch PRD by Ticket name\" tool with the provided key.\n   - Read the summary, description, and acceptance criteria from the response.\n\n3. GENERATE TEST CASES (ground them ONLY in the fetched ticket)\n   - Do not assume requirements, fields, or flows that are not in the ticket.\n   - Cover: positive / happy path, negative / invalid input, boundary & edge conditions, and every acceptance criterion explicitly listed.\n   - Produce 5–10 test cases depending on ticket size. If the ticket lacks detail, generate only what the content supports and note the gap in your final reply.\n\n4. WRITE TO SHEET\n   - For EACH test case, make ONE call to the \"Append or update row in sheet in Google Sheets\" tool.\n   - One row per test case. Never pack multiple test cases into a single field.\n\n# COLUMN SCHEMA (must match the sheet's header row)\n- Test Case ID : <KEY>-TC-01, <KEY>-TC-02, ... (sequential)\n- Summary      : what is being tested, in one line\n- Description  : detailed description of the test\n- Preconditions: state required before execution (or \"None\")\n- Step Number  : step sequence number\n- Test Steps   : numbered steps, one action per line\n- Expected Result : precise expected outcome\n- Actual Result: leave blank (filled during execution)\n- Status       : Not Executed\n- Priority     : P1 | P2 | P3\n- Assignee     : leave blank\n- Comments     : any additional notes\n\n# RULES\n- Every test case must trace back to the ticket. No hallucinated features.\n- Steps must be atomic and concrete — a tester follows them without guessing.\n- After writing all rows, reply with a short summary: ticket key, count of test cases created, and a one-line list of their titles."
        }
      },
      "id": "3e75d806-f59a-4643-a9c2-3a35fd94a9ef",
      "name": "Process Single Jira ID",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        528,
        496
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "02c06438-7c13-4f33-86bd-b8d9aeb1cb54",
      "name": "Loop Over Jira IDs",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        240,
        496
      ]
    },
    {
      "parameters": {
        "formTitle": "Upload Jira IDs",
        "formDescription": "Upload a CSV or Excel file containing Jira IDs to generate test cases",
        "formFields": {
          "values": [
            {
              "fieldLabel": "File with Jira IDs (CSV or Excel)",
              "fieldType": "file",
              "fieldName": "csv_file",
              "multipleFiles": false,
              "acceptFileTypes": ".csv,.xlsx,.xls",
              "requiredField": true
            }
          ]
        },
        "options": {
          "buttonLabel": "Generate Test Cases"
        }
      },
      "id": "d03b4469-fd67-4b7f-8779-5ba47879569f",
      "name": "Upload CSV with Jira IDs",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        240,
        720
      ],
      "webhookId": "csv-upload-jira-ids"
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "or",
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.csv_file.mimetype }}",
              "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json.csv_file.mimetype }}",
              "rightValue": "application/vnd.ms-excel",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json.csv_file.filename }}",
              "rightValue": ".xlsx",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            },
            {
              "leftValue": "={{ $json.csv_file.filename }}",
              "rightValue": ".xls",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "c9ef99a4-33f9-45c8-b35f-aa9a9bddb3b9",
      "name": "Check File Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        464,
        496
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "csv_file",
        "options": {
          "headerRow": true,
          "includeEmptyCells": false
        }
      },
      "id": "632de318-ff23-4b8f-9285-cdc0d607e8d4",
      "name": "Extract from Excel",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        688,
        384
      ]
    },
    {
      "parameters": {},
      "id": "d8521b02-198c-43f4-b763-a170a86eee92",
      "name": "Merge Extracted Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        912,
        496
      ]
    },
    {
      "parameters": {
        "binaryPropertyName": "csv_file",
        "options": {
          "relaxQuotes": true,
          "headerRow": true,
          "includeEmptyCells": false
        }
      },
      "id": "021d6dc6-e78f-4633-99fe-4e3fd78e1f88",
      "name": "Extract from CSV",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        688,
        608
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brain": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Process Single Jira ID",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Fetch PRD by Ticket name": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Process Single Jira ID",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Process Single Jira ID",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Process Single Jira ID": {
      "main": [
        [
          {
            "node": "Loop Over Jira IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Jira IDs": {
      "main": [
        [],
        [
          {
            "node": "Process Single Jira ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload CSV with Jira IDs": {
      "main": [
        [
          {
            "node": "Check File Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check File Type": {
      "main": [
        [
          {
            "node": "Extract from Excel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Excel": {
      "main": [
        [
          {
            "node": "Merge Extracted Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Extracted Data": {
      "main": [
        [
          {
            "node": "Loop Over Jira IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from CSV": {
      "main": [
        [
          {
            "node": "Merge Extracted Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d16475bd-8838-4416-afed-8d653bd2dc49",
  "meta": {
    "instanceId": "e65714bb45e0242a961bbebec312e3fb4dd665cbe5cad23c529ade2be9c3c435"
  },
  "nodeGroups": [],
  "id": "AvEanqAQ1o22fLX7",
  "tags": []
}